div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3.2em;
    padding: 25px;
}

button {
    border: 1px solid lightgray;
    background-color: transparent;
    padding: 14px;
    border-radius: 4px;   
    margin: 5px;
    font-size: 1em;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline:0;
}